@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mojangles';
    src: url('./fonts/mojangles.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}